In [1]:

import pandas as pd

In [5]:
df = pd.read_csv('train.csv',nrows=1000)

In [6]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
995,995,0.39,Ideal,J,VS2,61.4,53.8,4.69,4.74,2.90,731
996,996,1.00,Ideal,D,SI1,61.9,55.0,6.39,6.41,3.96,6040
997,997,0.71,Ideal,D,SI1,62.3,56.0,5.68,5.72,3.55,2732
998,998,0.54,Ideal,F,VS2,61.8,56.0,5.29,5.24,3.25,1586
999,999,0.38,Very Good,E,SI2,63.4,58.0,4.59,4.61,2.90,596

In [7]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [8]:
df.drop(labels=['id'],axis=1)

     carat        cut color clarity  depth  table     x     y     z  price
0     1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1     2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2     0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3     0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4     1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
..     ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
995   0.39      Ideal     J     VS2   61.4   53.8  4.69  4.74  2.90    731
996   1.00      Ideal     D     SI1   61.9   55.0  6.39  6.41  3.96   6040
997   0.71      Ideal     D     SI1   62.3   56.0  5.68  5.72  3.55   2732
998   0.54      Ideal     F     VS2   61.8   56.0  5.29  5.24  3.25   1586
999   0.38  Very Good     E     SI2   63.4   58.0  4.59  4.61  2.90    596

[1000 rows x 10 columns]

In [10]:
#seggregate independent and dependent feature
X=df.drop(labels=['price'],axis=1)
y=df['price']